.hero {
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1563px;
    height: 808px;
    background-image: url(../images/hero-bg-wave.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 0;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    position: relative;
  }

  &__arrow {
    position: absolute;
    top: -46px;
    right: 142px;
    fill: var(--color-brand-light);
  }

  &__title {
    margin-bottom: 40px;
    font-size: 72px;
    max-width: 636px;
    position: relative;
    z-index: 2;
  }

  &__desc {
    margin-bottom: 24px;
    font-size: 22px;
    max-width: 494px;
    line-height: 1.55;
  }

  &__visual {
    position: relative;
    flex-shrink: 0;
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }

  &__img {
    max-width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
  }
  &__avatar {
    position: absolute;
    z-index: 3;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    object-fit: cover;

    &--1 {
      top: 56%;
      left: -20%;
    }

    &--2 {
      top: 2%;
      right: 74%;
    }

    &--3 {
      bottom: 78%;
      left: 92%;
    }
  }
  &__paw {
    position: absolute;
    z-index: 0;

    &--1 {
      bottom: -10%;
      left: 98%;
      fill: var(--color-brand-normal);
      transform: rotate(-46.909deg);
    }

    &--2 {
      top: 8%;
      left: 108%;
      transform: rotate(47.38deg);
      fill: var(--color-secondary-purple);
    }

    &--3 {
      top: 27%;
      right: -108%;
      fill: #ff6e9f;
      transform: rotate(126deg);
    }
  }
}
