.fodder-card {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: 16px 12px;
  box-shadow: 0 8px 16px 0 rgba(24, 24, 23, 0.08);
  height: 100%;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  @media screen and (min-width: $bp-desktop) {
    padding: 24px 16px;
    border-radius: 16px;
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 24px 0 rgba(24, 24, 23, 0.16);
  }

  &__img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    height: 130px;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 16px;
      height: 180px;
    }

    @media screen and (min-width: $bp-desktop) {
      margin-bottom: 24px;
      height: 260px;
    }
    picture {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__meta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;

    @media screen and (min-width: $bp-desktop) {
      flex-direction: row;
      justify-content: space-between;
      gap: 16px;
      margin-bottom: 16px;
    }
  }

  &__code {
    font-size: 12px;
    color: var(--color-secondary-gray);
    white-space: nowrap;

    @media screen and (min-width: $bp-desktop) {
      font-size: 14px;
    }
  }

  &__rating {
    display: flex;
    gap: 8px;
    flex-shrink: 0;
  }
  .star {
    &--filled {
      fill: var(--color-brand-normal);
    }
    &--empty {
      fill: var(--color-secondary-gray);
    }
  }
  &__title {
    font-family: var(--font-primary);
    text-align: center;
    font-size: 14px;
    margin-bottom: 16px;

    @media screen and (min-width: $bp-tablet) {
      font-size: 16px;
      margin-bottom: 24px;
    }
  }

  &__price-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;

    @media screen and (min-width: $bp-desktop) {
      flex-direction: row;
      align-items: baseline;
      margin-bottom: 24px;
    }
  }

  &__price-current {
    font-size: 16px;
    font-weight: 600;
    color: var(--color-primary-dark);
    @media screen and (min-width: $bp-desktop) {
      font-size: 18px;
    }
  }

  &__price-old {
    font-size: 12px;
    text-decoration: line-through;
    color: var(--color-secondary-gray);

    @media screen and (min-width: $bp-desktop) {
      font-size: 14px;
    }
  }

  &__btn {
    align-self: center;
    padding: 8px 24px;
    font-size: 16px;
    width: 100%;
    font-weight: 500;

    @media screen and (min-width: $bp-desktop) {
      font-size: 18px;
      padding: 16px 32px;
      width: auto;
    }
  }
}
