.play-btn {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 74px;
  height: 74px;
  background-image: url(../images/play-blob.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  color: var(--color-primary-light);
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;

  &:hover,
  &:focus {
    transform: scale(1.05);
  }

  &__icon {
    margin-bottom: 4px;
    fill: currentColor;
    width: 24px;
    height: 24px;

    @media (min-width: $bp-tablet) {
      width: 32px;
      height: 32px;
    }

    @media (min-width: $bp-desktop) {
      margin-bottom: 8px;
      width: 48px;
      height: 48px;
    }
  }

  &__text {
    font-size: 8px;
    font-weight: 300;

    @media (min-width: $bp-desktop) {
      font-size: 16px;
    }
  }

  @media (min-width: $bp-desktop) {
    width: 162px;
    height: 124px;
  }
}
